.bg {
    margin: 0;
    overflow: hidden;
    background: black;
}

.left-image,
.right-image {
    position: absolute;
    top: 40%;
    background-color: transparent;
}

.left-image {
    left: -800px;
    animation: slide-in-left 2s ease-out forwards;
}

.right-image {
    right: -800px;
    animation: slide-in-right 2s ease-out forwards;
}

@keyframes slide-in-left {
    to {
        left: 0px;
    }
}

@keyframes slide-in-right {
    to {
        right: 0px;
    }
}

.img-left,
.img-right {
    height: 400px;
    width: 835px;
    object-fit: cover;
}




